@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* STYLEDGIT SYSTEM
Generics Styles  ..................................................*/

body {
  margin: 0;
  padding: 0; 
  font-family: "Noto Sans", sans-serif;
  color: #010400;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  color: #7c7c7c;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: #7c7c7c;
}

label {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  color: #010400;
}

button {
  width: 432px;
  height: 56px;
  background-color: #5936cd;
  border: 2px solid #5936cd;
  border-radius: 12px;
  color: #f4f4f9;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button.small {
  width: 90px;
  height: 36px;
  background-color: #f4f4f9;
  font-size: 14px;
  color: #010400;
  border-radius: 8px;
}

input {
  width: 100%;
  height: 48px;
  background-color: #f4f4f9;
  border: 2px solid #06bee1;
  border-radius: 8px;
  color: #010400;
  font-size: 16px;
  padding: 6px;
  box-sizing: border-box;
}

.logo {
  width: 88px;
  height: auto;
}

.full-width {
  width: 100%;
}

.mt {
  margin-top: 16px;
}

.mt.smaller {
  margin-top: 6px;
}

.mt.small{
  margin-top: 12px;
}

.mt.large{
  margin-top: 24px;
}

.mt.larger {
  margin-top: 32px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* Login Page ..................................................*/

.auth-container, .auth-content, .auth-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  background-color: #5936cd;
}

.auth-content {
  width: 480px;
  height: auto;
  min-height: 440px;
  border-radius: 24px;
  background-color: #f4f4f9;
}

.auth-content-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 24px;
}